.div{
  height: 100%;
  background-color: var(--primary-contrast);

  .content{
    display: flex;
    height: 84%;
    flex-direction: column;
    justify-content: space-between;

    .footer{
      .facebook{
        background-color: #367FC0
      }

      .google{
        background-color: #DD4B39
      }
    }
  }

}
