<div class="div">
  <div class="aliCenter header">
    <h2>Login</h2>
    <p>Faça Login para aproveitar o máximo do app</p>
  </div>

  <div class="content">
    <form class="aliCenter form" [formGroup]="login" (ngSubmit)="onSubmit()">
      <input formControlName="email" placeholder="Email">
      <input formControlName="password" placeholder="Senha">
      <button class="btn btn-primary" type="submit" [disabled]="!login.valid">Entrar</button>
    </form>
    <p>Esqueceu sua senha?</p>


    <div class="aliCenter footer">
      <p>Ou faça Login com</p>
      <button class="btn btn-primary facebook" routerLink="/home">
        <i class="uil uil-facebook-f"></i>
        Login com Facebook
      </button>
      <button class="btn btn-primary google" routerLink="/home">
        <i class="uil uil-google"></i>
        Login com Google
      </button>

      <p>Ainda não tem conta? <a href="/register">Criar Conta grátis</a></p>
    </div>
  </div>
</div>
