<div class="div">
  <div class="aliCenter header">
    <h2>Login</h2>
    <p>Faça Login para aproveitar o máximo do app</p>
  </div>

  <div class="content">
    <div class="aliCenter form">
      <input placeholder="Email">
      <input placeholder="Senha">
      <button class="btn btn-primary" routerLink="/home">Entrar</button>
      <p>Esqueceu sua senha?</p>
    </div>


    <div class="aliCenter footer">
      <p>Ou faça Login com</p>
      <button class="btn btn-primary facebook" routerLink="/home">Login com Facebook</button>
      <button class="btn btn-primary google" routerLink="/home">Login com Google</button>

      <p>Ainda não tem conta? <a>Criar Conta grátis</a></p>
    </div>
  </div>
</div>
