<ion-tabs class="home">
  <ion-tab-bar class="home2" slot="bottom">
    <ion-tab-button tab="tab3">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div class="tab">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <div class="tabLeft" style="display: flex; flex-direction: row;">
        <ion-tab-button tab="tab1">
          <ion-icon name="grid"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon name="bag"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>
      </div>

      <div class="tabRight" style="display: flex; flex-direction: row;">

        <ion-tab-button tab="tab4">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab5">
          <ion-icon name="list"></ion-icon>
          <ion-label>more</ion-label>
        </ion-tab-button>
      </div>

    </ion-tab-bar>
  </ion-tabs>
</div>
