:host {
  ion-tab-button{
    flex: 0;
    --color-selected: #fc6011;
  }
}


.home{
  height: 92%;
  z-index: 1;
  align-items: center;

  ion-tab-bar{
    background: none;
    border: none;
    width: 21%;
    position: relative;
    top: 20px;

    ion-tab-button{
      border: none;
      border-radius: 50%;
    }
  }
}

.tab{

  ion-tab-bar{
    justify-content: space-between;
  }
  }

