/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h2 {
  font: bold 30px 'Montserrat' !important;
  color: var(--primary-font-color);
}

a {
  cursor: pointer;
  font: bold;
  color: #FC6011 !important;
}

p {
  color: var(--secondary-font-color);
  text-align: center;
  font-size: 11px;
}

input {
  width: 85%;
  border-radius: 30px;
  height: 40px;
  padding: 3% 0 3% 8%;
  cursor: text;
  border: none;
  border-color: #707070;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  color: var(--placeholder-color);
  font-size: 12px;

}
input::placeholder{
  color: var(--placeholder-color);
}

.div{
  padding: 25px 0;
}

.aliCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  width: 85%;
  height: 40px;
  border-radius: 30px;
  padding: 2.5% 0;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--primary-contrast);
  margin-bottom: 20px;
  font-size: 12px;

}

.btn-primary:hover {
  background-color: var(--primary);
}

.btn-secondary {
  width: 85%;
  border-radius: 30px;
  height: 40px;
  padding: 2.5% 0;
  cursor: pointer;
  background-color: var(--primary-contrast);
  color: var(--primary);
  border: solid 1px var(--primary);
  font-size: 12px;

}

.btn-secondary:hover{
  background-color: var(--primary-contrast);
  border: solid 1px var(--primary);
  color: var(--primary);
}
